
/* 禁止webkit横屏改变字体大小 */
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}

/* 设置HTML5元素为块 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;padding:0px; margin:0px; border:none;}

/* 超出隐藏 */
.overflow{ overflow:hidden;}

/* 点击去除阴影 */
a,button,input,i{-webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}

/* float */
.fl{ float: left; }
.fr{ float: right;}

/* 图片自适应调整 并解决图片缩放的失真问题*/
img{ width:100%; height:auto;border:none; interpolation-mode: bicubic;}


/* clearfix */
.clearfix:after{ visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{ *zoom:1;}

/* transtion-Hover */
.tianstion{
    transition:all ease 0.4s;
    -moz-transition:all ease 0.4s;
    -ms-transition:all ease 0.4s;
    -o-transition:all ease 0.4s;
    -webkit-transition:all ease 0.4s;
}
.area{ width:100%;}
#wrap{ background:#F0F0F0; max-width:100%; position:relative;margin-left:auto; margin-right:auto;}
body{ background: #F0F0F0;}
/*@media screen and (max-width : 300px) {*/
    /*body{ font-size:11px;}*/
    /*#wrap{ width:100%;height: 100%;}*/
/*}*/

/*@media screen and (min-width: 300px) and (max-width : 480px) {*/
    /*body{ font-size:12px;}*/
    /*#wrap{ width:100%;height: 100%;}*/
/*}*/

/*@media screen and (min-width: 480px) and (max-width: 560px) {*/
    /*body{ font-size:15px;}*/
    /*#wrap{ width:100%;height: 100%;}*/
/*}*/
/*@media screen and (min-width: 560px) and (max-width: 900px) {*/
    /*body{ font-size:16px;}*/
    /*#wrap{ width:100%;height: 100%;}*/
/*}*/


/* 创E格子-滑动焦点图 */
.swiper-container {
    width:100%;
    height: 340px;
    text-align:center;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    z-index:5;
    background:#F8F8F8;
}
.swiper-wrapper {
    position:relative;
    z-index:10;
}
.swiper-slide {
    position:relative;
    text-align:center;
    float:left;
}
.swiper-slide a {
    position:relative;
    width:100%;
    display:block;
    overflow:hidden;
}
.swiper-slide img {
    height:100%;
    vertical-align:middle;
    position:relative;
}
.pagination {
    position:absolute;
    width:100%;
    bottom:0;
    z-index:100;
    text-align:center;
    /*background:rgba(0,0,0,0.2);*/
    height: 30px;
}
.pagination .swiper-pagination-switch {
    display:inline-block;
    height:0.7em;
    width:0.7em;
    background:#FFF;
    border-radius:50%;
    margin-right:1em;
    position: relative;
    top:10px;
}
.pagination .swiper-active-switch {
    background:#44A5FE;
}
