<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SHIRO-TAG">
    <!--film Result -->
    <resultMap id="tagResult" type="org.wuheng.mybatis.web.slient.pojo.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="getTagCount" parameterType="org.wuheng.mybatis.web.formBean.TagForm" resultType="int">
        SELECT COUNT(*) FROM tag
        <where>
            <if test="type!=null">
                type=#{type}
            </if>
        </where>
    </select>

    <select id="getTagById" parameterType="long" resultMap="tagResult">
           SELECT * FROM tag WHERE id=#{value}
    </select>

    <select id="getTagList" parameterType="org.wuheng.mybatis.web.formBean.TagForm" resultMap="tagResult">
        SELECT * FROM tag
        <where>
            <if test="type!=null">
                type=#{type}
            </if>
        </where>
        LIMIT #{offset},#{rows}
    </select>
</mapper>